/**
 * G:RTC CSS
 * Author: Marc Steele
 */
 
/* Overall Settings */

body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
}

/* Gradients */

.bar_blue {
	color: #FFFFFF;
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.bar_blue a:link {
	color: #FFFFFF;
	text-decoration: none;
}

.bar_blue a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.bar_blue a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.bar_blue a:active {
	color: #FFFFFF;
	text-decoration: none;
}

.bar_black {
	color: #FFFFFF;
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.bar_black a:link {
	color: #FFFFFF;
	text-decoration: none;
}

.bar_black a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.bar_black a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.bar_black a:active {
	color: #FFFFFF;
	text-decoration: none;
}

/* Banner */

#top_banner {
	left: 0;
	top: 0;
	width: 100%;
	float: left;
	clear: both;
}

#top_banner h1 {
    position: relative;
    left: 20px;
    width: 500px;
}

#search_box {
    position: absolute;
	right: 20px;
    top: 45px;
}

#login_details {
	position: absolute;
	right: 20px;
	top: 10px;
}

/* Menu */

nav {
	width: auto;
	padding: 5px;
	font-weight: bold;
}

nav ul {
	padding-left: 8px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul ul {
	display: none;
}

nav ul li {
	float: left;
	padding: 5px;
}

nav ul li:hover > ul {
	display: block;
}

nav ul li a {
	display: block;
}

nav ul ul {
	position: absolute; 
	top: 100%;
}

nav ul ul li {
	float: none;
	position: relative;
	background: #000000;
}

/* Content */

#content {
	margin: 20px;
}

.centred {
	margin-left: auto;
	margin-right: auto;
}

.ui-state-error {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
}

.ui-state-highlight {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
}

/* Forms */

label {
	width: 150px;
	float: left;
	font-weight: bold;
}

/* Online Users List */

#online_users .ui-selecting { 
	background: #FECA40; 
}

#online_users .ui-selected {
	background: #F39814;
	color: #FFFFFF;
}

#online_users {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 40%;
}

#online_users li {
	margin: 3px;
	padding: 0.4em;
	height: 18px;
	border-style: solid;
	border-width: 1px;
}

/* Call Display */

#call_display {
	float:right;
}

